#folders
node_modules
dist
build
coverage
typechain
cache
artifacts
echidna-test

#files
coverage.json
**.env
!example.env

#yarn 
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
